body {
  margin: 0;
  padding: 0;

  margin-top: 10px;
}

textarea {
  resize: none;
  border: 1px solid #ccc;
  border-color: #ccc;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  /*transition: border-color 1s ease;*/
}

p {
  font-size: 16px;
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 15px;
}

textarea:hover {
  border-color: black;
}

textarea:focus {
  outline: none !important;
  border-color: #9D2135;
  border: 2px solid #9D2135;
}
textarea::placeholder {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial;
}

h1 {
  font-size: 25px;
  font-family: Arial;
  margin: 0;
}